@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.body {
  /* background-color: rgb(255, 255, 255);
  background: linear-gradient(rgba(255, 255, 255, 0.301), rgba(0, 0, 0, 0.764)),
    url("../../../assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.box {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 23px 17px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
}
.box-err {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 23px 17px;
  display: none;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
}

.form {
  padding: 23px 17px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form input[type="text"], input[type="email"], input[type="password"]{
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
  border: none;
  height: 2.3rem;
  width: 20rem;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  color: #000000;
  font-weight: 500;
}
.checkBox {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.checkBox span {
  font-size: 12px;
  color: #fdfdfd;
  padding-left: 0.5rem;
}

.password {
  height: 2rem;
  width: 20rem;
  padding-left: 2px;
  outline: none;
  border: none;
  margin-top: 0.5rem;
  font-weight: 300;
}

.link {
  text-decoration: none;
  color: #e89241;
  margin-left: 0.2rem;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}

.link:hover {
  color: rgb(255, 255, 255);
}

.bottomLink {
  margin-top: 1rem;
  font-size: 0.7rem;
  color: white;
}

h2 {
  color: white;
  margin-bottom: 1rem;
  position: relative;
}

h2::before {
  position: absolute;
  left: 25%;
  bottom: -10px;
  content: "";
  width: 50%;
  height: 2px;
  background-color: #e89241;
  border-radius: 3px;
}
button {
  background-color: #bc681a;
  color: #fdfdfd;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #fdfdfd;
  color: #bc681a;
}

.inputFname {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  text-transform: capitalize;
}

.inputPassword {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}

.inputTc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  transition: 0.4s ease-in-out;
}

input:focus {
  box-shadow: 0 0 15px rgb(255, 255, 255);
}

input:hover {
  box-shadow: 0 0 15px rgb(255, 255, 255);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

nav .title {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 25px;
  margin-left: 2rem;
}

nav .pages {
  margin-right: 2rem;
  width: 20rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav .pages ul li {
  color: white;
  list-style-type: none;
  transition: 0.2s ease-in-out;
}

nav .pages ul a {
  color: white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  position: relative;
}

nav .pages ul a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -7px;
  border-radius: 3px;
  background-color: #e89241;
  transition: 0.4s ease-in-out;
}

nav .pages ul a:hover::before {
  width: 100%;
}

nav .pages ul a:hover {
  color: #ededed;
  text-decoration: none;
}

i {
  /* color: black; */
  font-size: 18px;
}

/* responsive sit css below */

@media screen and (max-width: 205px) {
  body {
    display: none;
  }
}


